<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>E-Book Library</h1>
  <hr/>
  <p>
    Welcome to my E-book library!

    <br/>
    Sign up to create a reading list, contribute, or read some of these books.

    <br/>
    <br/>
    <%= link_to "View Books", books_path, class: "btn btn-lg" %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>