<footer class="footer">
  <small>
    EB-Library
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/gdxn96/eb-library">News</a></li>
    </ul>
  </nav>
</footer>